/* This hides the scroll bars enabling the background to look full */
html
{
  background-color: black;
  overflow:hidden;

}

/* This is the background of the game */
#background
{
  width: 100vw;
  height: 100vh;
  margin-left: -8px;
  margin-top: -8px;
  background-image: url("background.png");
  background-attachment: fixed;
}

/* This is the player character */
#player
{
  width: 48px;
  height: 48px;
  top: 49vh;
  left: 48vw;
  background-color: blue;
  position: absolute;

}

#health
{
  width: 200px;
  height: 32px;
  top: 32px;
  left: 32px;
  background-color: green;
  position: absolute;

}

#stats
{
  color: white;
  top: 70px;
  left: 32px;
  position: absolute;
}

#info
{
  color: white;
  top: 96vh;
  left: 32px;
  position: absolute;
}
